.contenedor-principal {
  width: 100%;
  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: cursive, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor-titulo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;/*alinear horizontalmentes*/
  flex-direction: column;
  color: white;
}

.buque-logo {
  height: 180px;
}

.contenedor-tablas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


